@font-face {
  font-family: "Dancing Script";
  src: url("fonts/DancingScript-VariableFont_wght.ttf");
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
}

.appBody {
  margin: 5%;
}

/* Header styles */
header {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

.appBanner {
  position: fixed;
  display: grid;
  top: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  background-color: #333;
  color: #fff;
  padding: 1rem;
}

.appBanner h1 {
  position: relative;
  margin: 0;
  font-family: "Dancing Script";
  justify-self: center;
}

.appBody {
  margin-top: 7rem; /* Add margin to the top of .appBody to avoid overlapping with .appBanner */
}

/* SearchForm styles */
.search-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding-right: 2rem;
  border: 1px solid #000000;
  margin-bottom: 2rem;
}

.search-container label {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  justify-content: left;
}

.availability input {
  justify-self: start;
}

.label-text {
  justify-self: end;
  padding: 2rem 1rem 2rem 2rem;
}

.search-form input {
  width: 100%;
}

.search-form button {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

.search-form form label {
  margin-right: 1%; /* Add space between labels */
}

/* RecordList styles */
.record-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

.record {
  border: 1px solid #ccc;
  padding: 10px;
  cursor: pointer;
}

.record:hover {
  background-color: #f4f4f4;
}

.record img {
  width: 100%;
  height: auto;
}

.link-styles {
  color: black;
  text-decoration: none;
}

.link-styles:hover {
  text-decoration: none;
}

/* RecordDetail styles */
.backButton {
  position: fixed;
  top: 1rem;
  left: 1rem;
  height: 3rem;
}

.backButton img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.record-detail {
  margin-top: 20px;
}

.record-info-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
}

.record-info-left {
  grid-column: 1;
}

.record-info-right {
  grid-column: 2;
}

.record-detail h2 {
  margin-bottom: 10px;
}

.record-detail p {
  margin-bottom: 5px;
}

.record-detail select {
  margin-bottom: 10px;
}

/* StoreList styles */
.store-list {
  margin-top: 20px;
}

.store {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}
